
/*Tamaño del contenido de toda la pagina*/
html {
    font-size: 16px;
}

/*voy a usar mediasquery para hacer adaptable la letra a un dispositivo diferente*/
@media screen and(max-width:400px) {
    html {
        font-size: 3px;
    }
}

/*Los elementos del heigth usaran el 100% de sus contenedores*/
html,
body {
    width: 100%;
    border: 1px solid rgb(255, 239, 207);
    /*Le va a dar un margen desde el interior de un contenedor hacia el exterior*/
    /*Quiere decir que se le quitar el margen para la pagina y se meustre por completo los contenedores*/
    margin: 0;
    background: rgb(255, 239, 207);
}

/*Si el dispostivo tiene un tamaño mayor a 600 px hacer*/
@media screen and(max-width:600px) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {
        /*Margen hacia arriba*/
        margin-top: 6rem;
    }
}
.dos-opciones {
    position: relative;
    width: 100%;
    border: 1px solid rgb(243, 194, 120);
    height: 80px;
    background-color: rgb(243, 194, 120);
    /*De derecha a la izquierda*/
    right: 0;
    /*De izquierda a la derecha*/
    left: 0;
    /*De abajo para arriva*/
    bottom: 0;
}
/*estilo al menu de la tienda para regresar a la pagina principal*/
.dos-opciones a {
    display: inline-block;
    position: relative;
    text-align: center;
    left: 1%;
    padding-top: 1%;
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 20px;
    padding-left: 0%;
    font-family: Barlow;
    font-size: 25px;
    display: block;
    margin: 0 1rem;
    color: white;
    position: relative;
    /*De derecha a la izquierda*/
    right: 0;
    /*De izquierda a la derecha*/
    left: 0;
    /*De abajo para arriva*/
    bottom: 0;
}

.tiendauno {
    position: relative;
    width: 100%;
    border: 1px solid rgb(243, 194, 120);
    height: 80px;
    background-color: rgb(243, 194, 120);
    /*De derecha a la izquierda*/
    right: 0;
    /*De izquierda a la derecha*/
    left: 0;
    /*De abajo para arriva*/
    bottom: 0;
}
/*estilo al menu de la tienda para regresar a la pagina principal*/
.tiendauno a {
    display: inline-block;
    position: relative;
    text-align: center;
    left: 1%;
    padding-top: 1%;
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 20px;
    padding-left: 0%;
    font-family: Barlow;
    font-size: 25px;
    display: block;
    margin: 0 1rem;
    color: white;
    position: relative;
    /*De derecha a la izquierda*/
    right: 0;
    /*De izquierda a la derecha*/
    left: 0;
    /*De abajo para arriva*/
    bottom: 0;
}

.tiendauno a:hover,
.tiendauno a:focus,
.tiendauno a:active {
    color: rgb(230, 162, 44);
}



.Ubication {
    position: relative;
    width: 100%;
    border: 1px solid rgb(255, 226, 168);
    background-color: rgb(255, 220, 149);
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
}

.visual-ubication img {
    /*Posicion absoluta*/
    position: relative;
    /*ancho de la imagen con 67 pixeles*/
    width: 200px;
    /*alto de 67 pixeles de la imagen*/
    height: 67px;
    /*dezplasamiento en la derecha*/
    left: 44%;
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
    margin: 0;
}

.Ubication {
    position: relative;
    width: 100%;
    border: 1px solid rgb(255, 226, 168);
    background-color: rgb(255, 220, 149);
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
}

.visual-ubication img {
    /*Posicion absoluta*/
    position: relative;
    /*ancho de la imagen con 67 pixeles*/
    width: 200px;
    /*alto de 67 pixeles de la imagen*/
    height: 67px;
    /*dezplasamiento en la derecha*/
    left: 44%;
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
    margin: 0;
}

.Ubication {
    position: relative;
    width: 100%;
    border: 1px solid rgb(255, 226, 168);
    background-color: rgb(255, 220, 149);
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
}

.visual-ubication img {
    /*Posicion absoluta*/
    position: relative;
    /*ancho de la imagen con 67 pixeles*/
    width: 200px;
    /*alto de 67 pixeles de la imagen*/
    height: 67px;
    /*dezplasamiento en la derecha*/
    left: 44%;
    /*no tendra dezplasamiento en la derecha*/
    right: auto;
    /*No tendra dezplasamiento a la izquierda*/
    bottom: auto;
    margin: 0;
}
/*damos estilo para centrar el titulo*/
#contactos_h2 h2 {
    text-align: center;
    color: rgb(255, 170, 58);
    font-family: barlow;
}
/*damos estilo al parrafo de las instrucciones*/
#contactos_p h3 p {
    position: relative;
    left: 160px;
    color: rgb(253, 180, 107);
    font-size: 20px;
    font-family: lexend;
}
/*estilo a la lista de los contactos*/
.loscontactos ul li{
    list-style: none;
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 590px;
    color: rgb(253, 180, 107);
    font-family: lexend;
}
/*estilo a los contactos de la unbicaion*/
#contactos_ubicacion h1 { 
    text-align: center;
    color: rgb(255, 170, 58);
    font-family: Barlow;
    font-size: 25px;
}

/*damos tamaño y posicion a los iconos de las redes sociales*/
.header-social li a i {
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: rgb(255, 170, 58);
}
/*Ubicacion de la imagen al centro en posicion relativa*/
#mapa img{ 
    margin-left: 398px;
}
/*indicamos que los iconos sociales no tengan puntos de lista desordenada*/
.header-social li {
    list-style: none;
}
/*damos ubicacion a los contactos de las listas al lado de los iconos para diseño moderno*/
.numero_contacto ul li {
    list-style: none;
    margin-left: 300px;
    font-size: 20px;
    transform: translateY(-70px);
    color: rgb(251, 144, 44);
    font-family: barlow;
}